<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side"
               #sidenav>
    <mat-nav-list >
      <mat-list-item routerLink="./search">
        <mat-icon aria-hidden="false"
                  class="icon"
                  aria-label="search icon">
          search
        </mat-icon>
        Search
      </mat-list-item>
      <mat-list-item routerLink="./add">
        <mat-icon aria-hidden="false"
                  class="icon"
                  aria-label="add icon">
          add_box
        </mat-icon>
        Add
      </mat-list-item>
      <mat-list-item routerLink="./list">
        <mat-icon aria-hidden="false"
                  class="icon"
                  aria-label="list icon">
          list
        </mat-icon>
        List
      </mat-list-item>

      <mat-list-item routerLink="./seen">
        <mat-icon aria-hidden="false"
                  class="icon"
                  aria-label="list icon">
          visibility
        </mat-icon>
        Seen
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button
            (click)="sidenav.toggle()"
            class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Moviefy</span>
    <span class="spacer"></span>
    <button mat-icon-button
            aria-label="logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>


</mat-sidenav-container>


