.movie-item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movie-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: .5rem;
}


